<br>

<select class="filter bg-white rounded shadow m-1" name="category">
  <option selected value> select category </option>
  <%= options_for_select(@categories, selected: params[:category]) %>
</select>

<select class="filter bg-white rounded shadow m-1" name="style">
  <option selected value> select style </option>
  <%= options_for_select(@styles, selected: params[:style]) %>
</select>

<select class="filter bg-white rounded shadow m-1" name="colour">
  <option selected value> select colour </option>
  <%= options_for_select(@colours, selected: params[:colour]) %>
</select>

<section class="section">
  <% @products.each do |product| %>
    <%= render(product) %>
  <% end %>
</section>

<br>
