<footer class="bg-teal-500 text-gray-700 pl-4 py-2 flex flex-row w-full text-base">
  <div class="mr-6">Delivery & Returns</div>
  <div class="mr-6">
    <% if current_user %>
      <%= link_to 'My Account', user_orders_path %>
    <% else %>
      <%= link_to 'My Account', new_user_session_path %>
    <% end %>
  </div>
  <div class="mr-6">Contact</div>
</footer>
